POSTGRES_USER=sporthub
POSTGRES_PASSWORD=Soicodoc123@
POSTGRES_DB=sporthub
POSTGRES_PORT=5435

ConnectionStrings__Default=Host=localhost;Port=5435;Database=sporthub;Username=sporthub;Password=Soicodoc123@
JwtOptions__SecretKey=zi2Op9klGH40xsnhfikspjN1VzcAQjEb2BHTm37UqfjvhWycYdbsWYM-DY8ie78Z

NEXT_PUBLIC_API_BASE_URL=http://localhost:5000
NEXT_PUBLIC_SIGNALR_HUB_URL=http://localhost:5000/hubs/sporthub
